root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{js,json,yaml,html,toml}]
indent_size = 2

[*.yaml]
trim_trailing_whitespace = false

[*.js]
ij_javascript_force_semicolon_style = true
ij_javascript_use_semicolon_after_statement = false
